.pagination {
  position: relative;
//width: 80%;
//max-width: 710px;
margin: rem-calc(40) auto;
font-family: "Open Sans", sans-serif;
font-size: rem-calc(13);
color: #9EABB3;
text-align: center;
.pagination a {
  color: #9EABB3;
  transition: all 0.2s ease;
}
}

.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: rem-calc(0 15);
  border: #bfc8cd rem-calc(1) solid;
  text-decoration: none;
  border-radius: rem-calc(4);
  transition: border ease 0.3s;
}

.older-posts {
  right: 0;
}

.page-number {
  display: inline-block;
  padding: rem-calc(2 0);
  min-width: rem-calc(100);
}

.newer-posts {
  left: 0;
}

.older-posts,
.newer-posts{
  &:hover{
    color: #889093;
    border-color: #98a0a4;
  }
}

.extra-pagination {
  display: none;
  border-bottom: #EBF2F6 rem-calc(1) solid;
  &:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 rem-calc(1) solid;
    position: absolute;
    bottom: rem-calc(-5);
    left: 50%;
    margin-left: rem-calc(-5);
    background: $white;
    border-radius: 100%;
    box-shadow: $white rem-calc(0 0 0 5);
  }
  .pagination {
    width: auto;
  }
}


/* On page2+ make all the headers smaller */
.archive-template {
  .main-header {
    max-height: 30%;
  }
  .extra-pagination {
    display: block;
  }
}
