.m-sidebar {
  text-align: center;

  hr {
    margin: rem-calc(20 0)
  }
}

.m-sidebar--social {
  a {
    color: lighten($oslogray, 10%);
    font-size: rem-calc(9);

    &.agency:hover {
      color: #304A45;
    }
    &.twitter:hover {
      color: #55acee;
    }
    &.github:hover {
      color: #333333;
    }
  }
}

.m-sidebar--logo {
  margin-bottom: rem-calc(40);
  display: block;
}
