.post-template {
  .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    &:after {
      display: none;
    }
  }
  .post-header {
    margin-bottom: 3.4rem;
  }
  .post-meta {
    margin: 0;
  }
  .post-date {
    padding: 0;
    margin: 0;
    border: none;
  }
  .content {
    margin-top: 0
  }
}



.post-content{
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.6em 0;
  }
  .full-img {
    width: 126%;
    max-width: none;
    margin: 0 -13%;
  }
}


.post-navigation {
  margin-top: rem-calc(20);
  padding-top: rem-calc(40);
  border-top: #EBF2F6 1px solid;

  @include grid-row($behavior: collapse);

  .prev-post,
  .next-post {
    @include grid-column($columns:6);
  }
  .next-post {
    text-align: right;
    float: right;
  }
  a {
    display: block;
  }
}



.post-footer {
  margin-top: rem-calc(40);
  padding-top: rem-calc(80);
  @media #{$small-only} {
    border-bottom: #EBF2F6 1px solid;
    padding-bottom: rem-calc(80);
    margin-bottom: rem-calc(20);
  }
  border-top: #EBF2F6 1px solid;
  .l-title {
    font-size: 1.8rem;
    margin: 0;
  }
  p {
    margin: 1rem 0;
  }
}



.author-meta {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: rem-calc(14);
  line-height: 1;
  font-style: italic;
  color: #9EABB3;
  a {
    color: #9EABB3;
    &:hover{
      color: #111;
    }
  }
}



.subscribe {
  width: 28px;
  height: 28px;
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -15px;
  border: #EBF2F6 1px solid;
  text-align: center;
  line-height: 2.4rem;
  border-radius: 50px;
  background: #FFF;
  transition: box-shadow 0.5s;

  &:before {
    color: #D2DEE3;
    font-size: 10px;
    position: absolute;
    top: 2px;
    left: 9px;
    font-weight: 700;
    transition: color 0.5s ease;
  }

  &:hover {
    box-shadow: rgba(0,0,0,0.05) 0 0 0 3px;
    transition: box-shadow 0.25s;

    .tooltip {
      opacity: 1;
      top: -33px;
    }
  }

  &:before {
      color: #50585D;
  }
}



.tooltip {
  opacity: 0;
  display: block;
  width: 53px;
  padding: 4px 8px 5px 8px;
  position:absolute;
  top: -23px;
  left: -21px;
  color: rgba(255,255,255,0.9);
  font-size: 1.1rem;
  line-height: 1em;
  text-align: center;
  background: #50585D;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  transition: opacity 0.3s ease, top 0.3s ease;

  &:after {
    content: " ";
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #50585D transparent;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    z-index: 220;
    width: 0;
  }
}
