{{!< default}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
  <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
    <a class="subscribe-button" href="#" data-reveal-id="js-reveal-search">
      <i class="fa fa-fw fa-search"></i>
      Rechercher
    </a>
  </nav>
</header>

<main id="content" class="content row" role="main">
  <aside class="medium-3 columns m-sidebar">
    {{> "sidebar"}}
  </aside>
  <div class="medium-8 columns post-list ">
    {{> "loop"}}
  </div>
</main>
