{{!< default}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
  <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
    <a class="subscribe-button icon-search" href="#" data-reveal-id="js-reveal-search">Rechercher</a>
  </nav>
</header>

<main id="content" class="content row" role="main">
  {{> "sidebar"}}
  <div class="post-list small-8 columns">
    {{> "loop"}}
  </div>
</main>
