<footer class="site-footer">
  <div class="row">
    <section class="copyright small-12 columns text-center">
      <i class="fa fa-copyright"></i> {{date format="YYYY"}} Silicon Salad. Tous droits réservés. <br>

      <a href="http://www.siliconsalad.com/contact/">Nous contacter</a>
      <span>|</span>
      <a href="http://www.siliconsalad.com/recrutement/">Rejoindre l’équipe</a>

    </section>
  </div>
</footer>
