<footer class="m-footer">
  <div class="row">
    <section class="copyright small-12 columns text-center">

      <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" class="shape-logo">
       <g>
        <g id="svg_1" class="globalcontener">
         <g id="svg_2" class="three-greens">
          <path id="svg_3" d="m14.86773,5.25146v-2.32803c0,-1.11559 -0.68419,-2.26228 -1.85931,-2.25784c-1.3715,0.00533 -2.26228,1.58342 -2.26228,2.6959c0,2.17342 2.69634,1.19512 4.12159,1.88997z" />
          <path id="svg_4" d="m14.87795,7.76654c-0.07509,-0.72951 -0.66065,-0.79882 -1.22933,-0.78371l-1.33995,-0.0431c-1.44347,-0.09374 -3.30412,-0.03554 -3.30412,-3.36499c0,-1.46968 -1.20267,-2.98512 -3.33744,-2.98512c-2.31426,0 -3.97454,1.77446 -4.30997,3.30012c-0.0391,0.17727 -0.05998,0.35054 -0.05998,0.5127c0,0.1746 0.02221,0.33365 0.05998,0.48027c0.92366,3.57202 9.41787,-0.68508 9.41787,4.61875c0,0.008 0,0.01466 0,0.02133h0.00044c0,1.34217 0.9441,2.27827 2.28049,1.58386c1.11115,-0.57756 1.74025,-2.03481 1.82155,-2.96025c0.00622,-0.0702 0.00977,-0.13861 0.00977,-0.20348c0.00089,-0.06264 -0.00311,-0.12084 -0.00933,-0.17638z" />
          <path id="svg_5" d="m1.35804,9.18957v3.94877c0,1.90286 1.86509,2.96336 4.39927,1.65672c2.15876,-1.11248 3.28279,-3.40897 3.28279,-4.60586c0,-1.76246 -6.31101,-0.81792 -7.68206,-0.99963z" />
         </g>
        </g>
       </g>
      </svg>

      <i class="fa fa-copyright"></i> {{date format="YYYY"}} Silicon Salad. Tous droits réservés. <br>

      <a href="http://www.siliconsalad.com/contact/">Nous contacter</a>
      <span>|</span>
      <a href="http://www.siliconsalad.com/recrutement/">Rejoindre l’équipe</a>

    </section>
  </div>
</footer>
