<footer class="site-footer">
  <div class="row">
    <section class="copyright small-12 columns text-center">
      <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} Tous droits réservés.
      <span>|</span>
      <a href="http://www.siliconsalad.com/recrutement/">Recrutement</a>
    </section>
  </div>
  <div class="row">
    <section class="poweredby small-12 columns text-center">Réalisé grâce à un savant hacking de <a href="https://ghost.org">Ghost</a></section>
  </div>
</footer>
