<footer class="site-footer">
  <section class="copyright">
    <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} Tous droits réservés.
    <span>|</span>
    <a href="http://www.siliconsalad.com/recrutement/">Recrutement</a>
  </section>
  <section class="poweredby">Réalisé grâce à un savant hacking de <a href="https://ghost.org">Ghost</a></section>
</footer>
