<div id="js-reveal-search" class="reveal-modal" data-reveal>
  <h2>Recherche</h2>

  <form class="search-form" action="http://www.google.com/search" method="get">
    <input name="q" placeholder="Ex : Configuration aws" type="search">
    <input name="sitesearch" value="tech.siliconsalad.com" type="hidden">
  </form>
  <p class="lead">Trouver des tutoriels, des retours d’expérience et des articles.</p>

  <a class="close-reveal-modal">&#215;</a>
</div>
