<aside class="sidebar small-3 columns">

  <div class="logo text-center">
    {{#if @blog.logo}}
      <a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
    {{/if}}
    <p>{{@blog.description}}</p>
  </div>

  <hr>

  <div class="widget social_widget">
    {{> sidebar-social }}
  </div>


</aside>
