<div class="m-sidebar--social">
  <a href="https://twitter.com/IT_SiliconSalad" target="_blank" class="twitter">
    <i class="fa fa-fw fa-3x fa-twitter"></i>
  </a>
  <a href="https://github.com/siliconsalad/" target="_blank" class="github">
    <i class="fa fa-fw fa-3x fa-github"></i>
  </a>
</div>
