<div class="m-sidebar--social">
  <a href="http://www.siliconsalad.com/" target="_blank" class="agency" title="Le site de l’agence web basé à Lille">
    <i class="fa fa-fw fa-3x fa-building-o"></i>
  </a>
  <a href="https://twitter.com/IT_SiliconSalad" target="_blank" class="twitter" title="Suivre l’actualité">
    <i class="fa fa-fw fa-3x fa-twitter"></i>
  </a>
  <a href="https://github.com/siliconsalad/" target="_blank" class="github" title="Les projets opensource de l’agence web">
    <i class="fa fa-fw fa-3x fa-github"></i>
  </a>
</div>
